// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.carts {

	input[type="submit"] {
		background-color: #881;
		border-radius: 0.354em;
		border: solid thin #441;
		color: white;
		font-size: 1em;
		padding: 0.345em 1em;
	}
	input[type="submit"]:hover {
		background-color: #992;
	}

	table {
		border-collapse: collapse;

		td {
			padding: 0.5em;
		}
		td.quantity {
			white-space: nowrap;
		}
		td.quantity::after {
			content: " ×";
		}
		td.price {
			font-weight: bold;
			text-align: right;
		}
		td.buttons {
			input[type="submit"] {
				font-size: 1em;
				background-color: #ddd;
				color: black;
				padding: 0.2em 0.4em;
				border-radius: 0.2em;
			}
			input[type="submit"]:hover {
				background-color: white;
			}
		}

		tfoot {
			th, th.price {
				font-weight: bold;
				padding: 1em 0.5em 0;
			}
			th {
				text-align: right;
			}
			th.price {
				border-top: solid thin;
			}
		}
	}
}